.security-builder {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 24px;
  max-width: 1200px;
  margin: 32px auto 0;
  padding: 0 20px;
  align-items: start;
}

@media (max-width: 1440px) {
  .security-builder {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .security-builder {
    grid-template-columns: 1fr;
    width:390px;
  }
}

