.product-card {
  background: white;
  border-radius: 12px;
  border: 2px solid #E5E7EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  transition: border-color 0.2s, box-shadow 0.2s;
  overflow: hidden;
}
@media(min-width:768px){
  .product-card:last-child {
  width: 100%;
  margin-left:50%;
  transform: translateX(-50%);
}
.procam {
     transform: translateX(0%) !important;
}
}


.product-card.selected {
  border-color: #7C3AED;
  box-shadow: 0 0 0 1px #7C3AED, 0 4px 12px rgba(124, 58, 237, 0.1);
}

.product-image-wrapper {
  width: 120px;
  min-height: 120px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-image {
  width: 100%;
  height: 137px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image {
  transform: scale(1.08);
}

.product-card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  padding: 12px;
  gap: 8px;
}

.product-card-top {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-card-head {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}


.product-name {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: 600;
  color: #1F1F1F;
}

.product-description {
  color: #6B7280;
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 500;
  line-height: 1.4;
}

.product-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}

.old-price {
  text-decoration: line-through;
  color: #D8392B;
}

.current-price {
  color: #575757;
}

@media (max-width: 480px) {
  .product-card {
    flex-direction: column;
    align-items: center;
  }

  .product-image-wrapper {
    width: 100%;
    min-height: 100px;
    padding: 16px;
  }

  .product-image {
    height: 70px;
  }

  .product-card-body {
    padding: 10px 12px;
  }

  .product-card-bottom {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 6px;
  }
}
